* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.body {
  background-color: black;
  margin: 20px;

}

.header {
  display: flex;
  flex-direction: column;
  margin: 10px;



  &__h1 {
    color: rgb(152, 54, 184);
    margin-bottom: 10px;
    width: 50%;
    font-size: 25px;
  }

  &__user {
    margin-bottom: 20px;
    width: 50%;

    &--text {
      border-radius: 5px;
      border-color: white;
      color: antiquewhite;
      background-color: rgb(83, 23, 103);
      padding: 5px;
      margin-right: 10px;

    }

    &--btnSearch {
      border-radius: 5px;
      border-color: white;
      color: antiquewhite;
      background-color: rgb(83, 23, 103);
      padding: 5px;
      margin-top: 10px;
    }

    &--btnReset {
      border-radius: 5px;
      border-color: white;
      color: antiquewhite;
      background-color: rgb(83, 23, 103);
      padding: 5px;
      margin-top: 10px;
    }

  }

}


.main {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;



  .main1 {
    min-width: 40%;


    &__h2f {
      text-align: center;
      color: antiquewhite;
      background-color: palevioletred;
      border-radius: 10px;
      border: solid 2px white;

    }

    &__favorites {
      display: flex;
      flex-direction: row;
      border: solid 10px palevioletred;
      border-radius: 10px;


      &--ulf {
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 100%;

        .js-favs {
          display: flex;
          flex-direction: column;
          align-items: center;

          @media all and(min-width:700px) {
            flex-direction: row;

          }


          .image-container {

            min-width: 80px;
            max-width: 80px;
            margin-right: 10px;

          }

          .image {
            width: 100%;
          }

          ._title {
            color: palevioletred;
            text-align: center;


          }

          .js_trash {
            background-color: palevioletred;
            border-radius: 50%;
            border: solid 3px rgb(249, 247, 247);
            margin: 10px;


          }

          .trashIcon {
            background-color: palevioletred;
            text-align: center;
            color: rgb(249, 247, 247);
            text-align: center;
            padding: 5px;
            margin: 10px;

          }
        }
      }
    }

    .deleteAll {
      display: flex;
      flex-direction: column;
      color: rgb(249, 247, 247);
      background-color: palevioletred;
      border-radius: 5px;
      border: solid 5px rgb(249, 247, 247);
      padding: 10px;
      max-width: 100px;
      margin: 5px;
    }
  }


  .main2 {
    min-width: 60%;


    &__h2r {
      text-align: center;
      color: antiquewhite;
      background-color: rgb(163, 17, 65);
      border-radius: 10px;
      border: solid 2px white;
    }

    &__results {
      display: flex;
      flex-direction: row;
      border: solid 10px rgb(163, 17, 65);
      border-radius: 10px;
      text-align: center;
      justify-content: center;
      align-items: center;

      &--ulr {
        display: flex;
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        text-align: center;

        .js-favs {
          display: flex;
          flex-direction: row;



          .image-container2 {
            margin-right: 10px;

            justify-content: center;
            align-items: center;
            text-align: center;

          }

          .image2 {
            width: 50%;
          }
        }

        ._title2 {
          color: antiquewhite;
          width: 20ch;


        }

      }
    }
  }
}

.favourite {
  border: solid 10px rgb(255, 47, 213);
  border-radius: 10px;


  .image-container {
    margin-right: 10px;

    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .image {
    width: 50%;
  }

  &_title2 {
    color: rgb(255, 47, 213);
    width: 20ch;

  }
}