* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.body {
  background-color: rgb(87, 85, 85);
  margin: 20px;

}

.header {
  display: flex;
  flex-direction: column;
  margin: 10px;



  &__h1 {
    color: rgb(135, 233, 135);
    margin-bottom: 10px;
    width: 50%;
  }

  &__user {
    margin-bottom: 20px;
    width: 50%;

    &--text {
      border-radius: 5px;
      border-color: rgb(135, 233, 135);
      color: antiquewhite;
      background-color: rgb(135, 233, 135);
      padding: 5px;
      margin-right: 10px;

    }

    &--btnSearch {
      border-radius: 5px;
      border-color: rgb(135, 233, 135);
      color: antiquewhite;
      background-color: rgb(135, 233, 135);
      padding: 5px;
      margin-top: 10px;
    }

    &--btnReset {
      border-radius: 5px;
      border-color: rgb(135, 233, 135);
      color: antiquewhite;
      background-color: rgb(135, 233, 135);
      padding: 5px;
      margin-top: 10px;
    }

  }

}


.main {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;



  .main1 {
    min-width: 40%;


    &__h2f {
      text-align: center;
      color: antiquewhite;
      background-color: palevioletred;
      border-radius: 10px;

    }

    &__favorites {
      display: flex;
      flex-direction: row;
      border: solid 10px palevioletred;
      border-radius: 10px;


      &--ulf {
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 100%;

        .js-favs {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;

          .image-container {

            min-width: 80px;
            max-width: 80px;
            margin-right: 10px;
            width: 30%;
          }

          .image {
            width: 100%;
          }

          ._title {
            color: palevioletred;
            width: 50%;
            width: 10ch;
          }

          .js_trash {
            background-color: palevioletred;
            border-radius: 50%;
            border: solid 3px rgb(249, 247, 247);
            margin: 10px;


          }

          .trashIcon {
            background-color: palevioletred;
            text-align: center;
            color: rgb(249, 247, 247);
            text-align: center;
            padding: 5px;
            margin: 10px;

          }
        }
      }
    }

    .deleteAll {
      display: flex;
      flex-direction: column;
      color: rgb(249, 247, 247);
      background-color: palevioletred;
      border-radius: 5px;
      border: solid 5px rgb(249, 247, 247);
      padding: 10px;
      max-width: 100px;
      margin: 5px;
    }
  }


  .main2 {
    min-width: 60%;


    &__h2r {
      text-align: center;
      color: antiquewhite;
      background-color: rgb(163, 17, 65);
      border-radius: 10px;
    }

    &__results {
      display: flex;
      flex-direction: row;
      border: solid 10px rgb(163, 17, 65);
      border-radius: 10px;
      text-align: center;
      justify-content: center;
      align-items: center;

      &--ulr {
        display: flex;
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        text-align: center;

        .js-favs {
          display: flex;
          flex-direction: row;
          width: 30%;

          .image-container2 {
            margin-right: 10px;
            width: 30%;
            justify-content: center;
            align-items: center;
            text-align: center;
          }

          .image2 {
            width: 100%;
          }
        }

        ._title2 {
          color: antiquewhite;
          width: 20ch;


        }

      }
    }
  }
}

.favourite {
  border: solid 10px greenyellow;

  &_title2 {
    color: greenyellow;
    width: 20ch;

  }
}

@media all and(min-width:700px) {
  .js-favs {
    display: flex;
    flex-direction: row;

  }
}

@media all and(min-width:1728px) {}